---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

{% endif %}

<ul>
     <li> <p style="margin-left: 0px; line-height: 150%; margin-top: 10px; margin-bottom: 10px;"><font face="Arial" size="3"><meta charset="utf-8">
            Instance Shadow Detection with A Single-Stage Detector <br> 
         <i> Tianyu Wang, <b>Xiaowei Hu</b>*, Pheng-Ann Heng, and Chi-Wing Fu. </i><br> 
	       IEEE Transactions on Pattern Analysis and Machine Intelligence (<b>IEEE TPAMI</b>), vol. 45, no. 3, pp. 3259-3273, 2023. <br>
	       [<a href="https://ieeexplore.ieee.org/document/9804810">paper</a>]
	       [<a href="https://arxiv.org/abs/2207.04614">arXiv</a>]
	       [<a href="https://github.com/stevewongv/SSIS">code</a>] 
	       [<a href="https://drive.google.com/drive/folders/1MKxyq3R6AUeyLai9i9XWzG2C_n5f0ppP">SOBA dataset</a>]
          </font>
	 </p> </li>
</ul>		

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

